-content_for :sidebar do
  %h2 Manage Portfolios
  %p Portfolios are used to showcase your photos. The galleries you enter here will appear in the home page covers and throughout the rest of the site.
  %p You can change the order that galleries appear in by clicking and dragging their title bars.
  %p You can create a new portfolio by clicking the "New Portfolio" button.
  %p You can manage a portfolio's photos by clicking it's "Photos" link.
  %p You can edit a portfolio by clicking it's "Edit" link.
  %p You can delete a portfolio by clicking the red X button.

= build_link_button("New Portfolio &raquo;", new_resource_path)

%p.clear

%ul#position_container.image_list
  - for portfolio in @galleries
    %li{ :id => "row_#{portfolio.id}" }
      .draggable
        = truncate(portfolio.title, :length => 22)
        = link_to(image_tag('cancel.png'), resource_path(portfolio), :class => "delete")
      = raw "#{link_to(image_tag(portfolio.cover.thumb.url, :size => '150x100'), edit_resource_path(portfolio))}<br />"
      .actions
        = link_to('Edit', edit_resource_path(portfolio))
        |
        = link_to('Photos', photog_portfolio_portfolio_photos_path(portfolio))
