%h3 Contact Info
%p 
  = raw(enkode_mail( @photographer.email, @photographer.email, "Email Me", "#{@photographer.name} - Request" ))
  = raw("<br /><br />#{@photographer.phone}<br />") unless @photographer.phone.blank?
  = raw("<br />#{link_to 'Blog', @photographer.blog_url}") unless @photographer.blog_url.blank?
  = raw("| #{link_to('Facebook', @photographer.facebook_url, :title => 'My Facebook Page')}") unless @photographer.facebook_url.blank?
  = raw("| #{link_to('Twitter', @photographer.twitter_url, :title => 'Follow me on Twitter')}") unless @photographer.twitter_url.blank?
%h3 Client Testimonials
- for testimonial in @testimonials
  %p
    %i= "\"#{testimonial.body}\""
    %br
    %b= testimonial.author