!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "chrome=1", "http-equiv" => "X-UA-Compatible" }
    %title
      = "#{controller.controller_name.humanize.titleize} - Client - #{@photographer.name}"
    = stylesheet_link_tag('admin.css', :media => 'screen, projection')
    = stylesheet_link_tag('print.css', :media => 'print')
    /[if lt IE 8]
      = stylesheet_link_tag('ie.css', :media => 'screen, projection')
    = stylesheet_link_tag('gritter.css', 'colorbox.css', 'validation.css', :media => 'screen, projection', :cache => 'client_all')
    = javascript_include_tag('jquery.min.js', 'jquery.gritter.js', 'jquery.colorbox-min.js', 'jquery.validationEngine.js', 'jquery.validationEngine-en.js', 'jquery.rightClick.js', 'client.js', :cache => 'client_all')
    = display_flash
  %body
    #container
      #header
        #logo{ :style => 'width: 670px' }
          %h1
            = @photographer.name
            = " | #{client_signed_in? ? current_client.name : 'Login'}"
        #nav{ :style => 'width: 290px' }
          %ul.tabs
            %li= link_to "Bookings", client_bookings_path, :class => 'active'
            %li= link_to "Logout", destroy_client_session_path
            %li= link_to raw("Back to Portfolio &raquo;"), root_path
      #main
        #sidebar
          .box
            - if content_for?(:sidebar)
              = content_for :sidebar
            - else
              %h2 Welcome
              %p This is the client area of the site.
              %p Once you've logged in you can view and comment on your booking photos.
              %p This area is used to provide pertinent information about the tasks you're currently working on.
        #content= yield
      #footer
        .faux-hr
        = raw "Copyright &copy; 2010, #{@photographer.name}, &nbsp; All Rights Reserved"
        